#animatedButton1 {
    transition: all 0.5s ease;
  }

#animatedButton1:hover {
    transform: scale(1.2);
}
#animatedButton2 {
    transition: all 0.5s ease;
}

#animatedButton2:hover {
    transform: scale(1.2);
}
#animatedButton3 {
    transition: all 0.5s ease;
}
#animatedButton3:hover {
    transform: scale(1.2);
}
